{{ define "main" }}

{{/*  <div class="section" style="padding-top:150px;padding-bottom:150px">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-half is-offset-one-quarter">
                <h4 class="subtitle is-5">{{ .Params.about_subtitle }}</h4>
                <h1 class="title is-3">{{ .Params.about_title }}</h1>
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>  */}}
<!--
<div class="specialize">
    <div class="section">
        <div class="container">
            <div class="columns has-text-white has-text-centered">
                <div class="column">
                    <div class="inner-specialize">
                        <h4 class="subtitle is-4 has-text-white">{{ .Params.columns.column_one.column_one_title }}</h4>
                        <p class="content">{{ .Params.columns.column_one.body_text_one }}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="inner-specialize">
                        <h4 class="subtitle is-4 has-text-white">{{ .Params.columns.column_two.column_two_title }}</h4>
                        <p>{{ .Params.columns.column_two.body_text_two }}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="inner-specialize">
                        <h4 class="subtitle is-4 has-text-white">{{ .Params.columns.column_three.column_three_title }}</h4>
                        <p>{{ .Params.columns.column_three.body_text_three }}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="inner-specialize">
                        <h4 class="subtitle is-4 has-text-white">{{ .Params.columns.column_four.column_four_title }}</h4>
                        <p>{{ .Params.columns.column_four.body_text_four }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="about-bg">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <h4 class="subtitle is-5">{{ .Params.about_subtitle }}</h4>
                    <h1 class="title is-3">{{ .Params.about_title }}</h1>
                    <div class="content">
                        {{ .Content }}
                    </div>
                    <div class="columns has-text-centered is-mobile">
                        <div class="column">
                            <a href="{{ .Params.about_footer.about_button_link }}" class="about-btn">{{ .Params.about_footer.about_button_label }}</a>
                        </div>
                        <div class="column">
                            <a href="/contact" class="about-btn">Contact Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

