{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-half is-offset-one-quarter">
                <h4 class="subtitle is-5">{{ .Params.about_subtitle }}</h4>
                <h1 class="title is-3">{{ .Params.about_title }}</h1>
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="specialize">
    <div class="section">
        <div class="container">
            <div class="columns has-text-white has-text-centered">
                <div class="column">
                    <div class="inner-specialize">
                        <h4 class="subtitle is-4 has-text-white">Neuromuscular</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, officiis! Quas, laborum numquam. Ipsa, amet maiores vero reiciendis</p>
                    </div>
                </div>
                <div class="column">
                    <div class="inner-specialize">
                        <h4 class="subtitle is-4 has-text-white">Neuromuscular</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, officiis! Quas, laborum numquam. Ipsa, amet maiores vero reiciendis</p>
                    </div>
                </div>
                <div class="column">
                    <div class="inner-specialize">
                        <h4 class="subtitle is-4 has-text-white">Neuromuscular</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, officiis! Quas, laborum numquam. Ipsa, amet maiores vero reiciendis</p>
                    </div>
                </div>
                <div class="column">
                    <div class="inner-specialize">
                        <h4 class="subtitle is-4 has-text-white">Neuromuscular</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, officiis! Quas, laborum numquam. Ipsa, amet maiores vero reiciendis</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-bg">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <h4 class="subtitle is-4">Let's Connect</h4>
                    <h1 class="title is-2">Schedule an Appointment</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem voluptas magni eos recusandae consequuntur, pariatur eum, voluptates voluptatibus rerum minus dignissimos vel neque totam reiciendis impedit accusamus tempore voluptatum excepturi?</p><br>
                    <a href="/appointment" class="secondary-btn">Schedule</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

